.sessao-de-cards{
    margin: auto;
    width: 100%;
    height: auto;
}
.card{
    padding: 0px;
    margin: 5px;
    width: 45%;
    height: 150px;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    display: inline;
}
.card img{
    height: 350px;
}
.card h2{
    text-align: center;
}
.card #barra_descricao{
    background-color: white;
    color: black;
}
.sessao-sobre-empresa{
    text-align: center;
}
.sessao-sobre-empresa table{
    text-align: center;
    width: 100%;
}
.sessao-sobre-empresa td{
    padding: 20px;
}
#rodape{
    text-align: center;
}
#rodape table{
    width: 100%;
    text-align: center;
}
