body{
    background-color: wheat;
}
.imagem{
    width: 100%;
    height: 700px;
}
.cabaco{
	width: 50%;
	height: 100px;
}
#menu ul{
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    list-style: none;
}   
#menu ul li{
    display: inline;
    font-family: fantasy;
}
#menu ul li a{
    padding: 15px 55px;
    display: inline-block;
    /* visual do link */
    background-color:#EDEDED;
    color: red;
    text-decoration: none;
    border-bottom:3px solid gray;
}
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}
h1{
    text-align: center;
    text-decoration-color: brown;
    font-family: inherit;
    font-size: 70px;
}
.slide_img{
    text-align: center;
}
.slide_img img{
    width: 100%;
    height: 450px;
}
.botao button{
    font-size: 15px;
}
